<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
        {% if title %}
        <title>{{ title }} - Device Reservation</title>
        {% else %}
        <title>Welcome to Device Reservation</title>
        {% endif %}
    </head>
    <body>
        <nav class="panel">
        <div>
            <a href="{{ url_for ('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for ('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for ('logout') }}">Logout</a>
            {% endif %}
        </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>