{% extends "base.html" %}

{% block app_content %}
        <div class= "jumbotron">
                <h3 class="text-center">Delete Agent</h3>
            </div>
        <p><a href="{{ url_for('main.manage_agents') }}">&laquo; Back</a></p>
        <center>
        <form id="delete_agent" method="post" action="">
        <table class="table table-bordered table-hover table-dark table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="text-center">Select Agent</th>
                <th class="text-center">Agent</th>
                <th class="text-center">Platform</th>
                <th class="text-center">Environment</th>
            </tr>
            </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td class="text-center"><input type="checkbox" name=agent_list value="{{agent.a_name}}" /></td>
                <td class="text-center">{{agent.a_name}}</td>
                <td class="text-center">{{agent.a_platform}}</td>
                <td class="text-center">{{agent.a_env}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
            <br>
            <input class="btn btn-primary" type="submit" value="Delete Agent">
        </form>
    </center>
{% endblock %}

{% block scripts %}
<script>
(function() {
    const form = document.querySelector('#delete_agent');
    const checkboxes = form.querySelectorAll('input[type=checkbox]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
        if (firstCheckbox) {
            for (let i = 0; i < checkboxLength; i++) {
                checkboxes[i].addEventListener('change', checkValidity);
            }

            checkValidity();
        }
    }

    function isChecked() {
        for (let i = 0; i < checkboxLength; i++) {
            if (checkboxes[i].checked) return true;
        }

        return false;
    }

    function checkValidity() {
        const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
        firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
})();
</script>
{% endblock %}