{% extends "base.html" %}

{% block content %}
        <div class= "jumbotron">
                <h3 class="text-center">Delete Agent</h3>
            </div>
        <form method="post" action="">
        <table border="1">
            <thead>
            <tr>
                <th>Select Agent</th>
                <th>Agent</th>
                <th>Platform</th>
                <th>Environment</th>
            </tr>
            </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td><input type="checkbox" name=agent_list value="{{agent.a_name}}" /></td>
                <td>{{agent.a_name}}</td>
                <td>{{agent.a_platform}}</td>
                <td>{{agent.a_env}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
            <input class="release_button" type="submit" value="Delete Agent">
        </form>
    </nav>
{% endblock %}