{% extends "base.html" %}

{% block content %}
        <div class= "jumbotron">
                <h3 class="text-center">Delete Rig</h3>
            </div>
        <form method="post" action="">
        <main role="main" class="container-fluid">
        <div class="row text-center justify-content-center">
        <table align="center" border="1">
            <thead>
            <tr>
                <th>Select Rig</th>
                <th>Rig</th>
                <th>Description</th>
            </tr>
            </thead>
        <tbody>
        {% for rig in rigs %}
            <tr>
                <td><input type="checkbox" name=rig_list value="{{rig.rig}}" /></td>
                <td>{{rig.rig}}</td>
                <td>{{rig.rig_desc}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
            <br>
            <input class="btn btn-secondary btn-sm" type="submit" value="Delete Rig">
        </div></main>
        </form>

{% endblock %}