{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class= "jumbotron">
                <h2 class="text-center">Inventory View</h2>
    </div>

    <table class="table table-bordered table-hover table-dark table-sm">
        <thead class="thead-dark">
        <tr>
            <th class="text-center">  Agent  </th>
            <th class="text-center">  Platform  </th>
            <th class="text-center">  Environment  </th>
            <th class="text-center">  UI_Access  </th>
            <th class="text-center">  Location  </th>
            <th class="text-center">  Reservation Status  </th>
        </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td class="text-center">{{agent.a_name}}</td>
                <td class="text-center">{{agent.a_platform}}</td>
                <td class="text-center">{{agent.a_env}}</td>
                <td class="text-center">{{agent.a_access}}</td>
                <td class="text-center">{{agent.a_location}}</td>
                {% if agent.a_owner %}
                <td class="text-center">Reserved by {{agent.a_owner}}</td>
                {% else %}
                <td class="text-center">Available</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}