{% extends "base.html" %}

{% block content %}
    <h1>
            <nav class= "welcome">
                <div>Enter Agent Details</div>
            </nav>
         </h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.agent_name.label()}}
        {{ form.agent_name(size=20) }}
        <br>
        {{ form.agent_user.label()}}
        {{ form.agent_user()}}
        <br>
        {{ form.agent_password.label()}}
        {{ form.agent_password()}}
        <br>
        {{ form.agent_serial.label()}}
        {{ form.agent_serial()}}
        <br>
        {{ form.agent_access.label()}}
        {{ form.agent_access()}}
        <br>
        {{ form.agent_env.label()}}
        {{ form.agent_env()}}
        <br>
        {{ form.agent_ipaddr.label()}}
        {{ form.agent_ipaddr()}}
        <br>
        {{ form.agent_location.label()}}
        {{ form.agent_location()}}
        <br>
        {{ form.agent_command_line_access.label()}}
        {{ form.agent_command_line_access()}}

    {{ form.submit(class_="rbutton" )}}

    </form>
{% endblock %}
