{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class= "jumbotron">
        <h3 class="text-center">Edit Rig</h3>
    </div>
    <p><a href="{{ url_for('main.edit_rig') }}">&laquo; Back</a></p>
    <center>
    <div class="row text-center">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
     <form action="" method="POST">
            {{ wtf.form_field(form.rig) }}
            {{ wtf.form_field(form.rig_desc) }}
            <input class="btn btn-primary" name="action" type="submit" value="Cancel">
            <input class="btn btn-primary" name="action" type="submit" value="Edit Rig">
    </form>
        </div></div>
    </center>
{% endblock %}