{% extends "base.html" %}

{% block app_content %}
        <div class= "jumbotron">
                <h3 class="text-center">Edit Rig</h3>
        </div>
        <p><a href="{{ url_for('main.manage_rig') }}">&laquo; Back</a></p>
        <form id="edit_rig" method="post" action="">
        <main role="main" class="container-fluid">
        <div class="row text-center justify-content-center">
        <table class="table table-bordered table-hover table-dark table-sm">
            <thead>
            <tr>
                <th class="text-center">Select Rig</th>
                <th class="text-center">Rig</th>
                <th class="text-center">Rig Description</th>
            </tr>
            </thead>
        <tbody>
        {% for rig in rigs %}
            <tr>
                <td class="text-center"><input type="radio" name=options value="{{rig.rig}}" id="{{rig.rig}}"/></td>
                <td class="text-center">{{rig.rig}}</td>
                <td class="text-center">{{rig.rig_desc}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
             <br>
            <input class="btn btn-primary" type="submit" value="Edit Rig">
        </div></main>
        </form>
{% endblock %}

{% block scripts %}
<script>
(function() {
    const form = document.querySelector('#edit_rig');
    const checkboxes = form.querySelectorAll('input[type=radio]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
        if (firstCheckbox) {
            for (let i = 0; i < checkboxLength; i++) {
                checkboxes[i].addEventListener('change', checkValidity);
            }

            checkValidity();
        }
    }

    function isChecked() {
        for (let i = 0; i < checkboxLength; i++) {
            if (checkboxes[i].checked) return true;
        }

        return false;
    }

    function checkValidity() {
        const errorMessage = !isChecked() ? 'At least one radio button must be selected.' : '';
        firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
})();
</script>
{% endblock %}