{% extends "base.html" %}

{% block content %}
    <div class= "jumbotron">
                <h3 class="text-center">Edit environment</h3>
    </div>
    <form action="" method="post">
    <main role="main" class="container-fluid">
    <div class="row text-center justify-content-center">
    <table class="table table-bordered table-hover table-dark table-sm">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center"></th>
      <th scope="col" class="text-center">Rig/Env</th>
      <th scope="col" class="text-center">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for key in env_hash.keys() %}
    <tr>
        <td scope="col" class="text-center"><input id="{{ key }}" type="checkbox" name="{{ key }}"></td>
        <td class="text-center">{{ key }}</td>
        <td class="text-center">{{ env_hash[key] }}</td>
    </tr>
    {% endfor %}
    </table>
    <br><br><br>
     <main role="main" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
     <div class="row text-center">
    <input class="btn btn-primary" type="submit" value="Apply Changes">
     </div></div></div>
    </main>
    </div></main>
    </form>
{% endblock %}