{% extends "base.html" %}

{% block app_content %}
        <div class= "jumbotron">
                <h3 class="text-center">Edit Agent</h3>
        </div>
        <p><a href="{{ url_for('main.manage_agents') }}">&laquo; Back</a></p>
        <center>
        <form id="edit_agent" method="post" action="">
        <main role="main" class="container-fluid">
        <div class="row text-center justify-content-center">
        <table class="table table-bordered table-hover table-dark table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="text-center">Select Agent</th>
                <th class="text-center">Agent</th>
                <th class="text-center">Platform</th>
                <th class="text-center">Environment</th>
                <th class="text-center">UI Access</th>
                <th class="text-center">Serial</th>
                <th class="text-center">IP Address</th>
                <th class="text-center">Location</th>
            </tr>
            </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td class="text-center"><input type="radio" name=options value="{{agent.a_name}}" id="{{agent.a_name}}"/></td>
                <td class="text-center">{{agent.a_name}}</td>
                <td class="text-center">{{agent.a_platform}}</td>
                <td class="text-center">{{agent.a_env}}</td>
                <td class="text-center">{{agent.a_access}}</td>
                <td class="text-center">{{agent.a_serial}}</td>
                <td class="text-center">{{agent.a_ipaddr}}</td>
                <td class="text-center">{{agent.a_location}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
             <br>
            <input class="btn btn-primary" type="submit" value="Edit Agent">
        </div></main>
        </form>
</center>
{% endblock %}

{% block scripts %}
<script>
(function() {
    const form = document.querySelector('#edit_agent');
    const checkboxes = form.querySelectorAll('input[type=radio]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
        if (firstCheckbox) {
            for (let i = 0; i < checkboxLength; i++) {
                checkboxes[i].addEventListener('change', checkValidity);
            }

            checkValidity();
        }
    }

    function isChecked() {
        for (let i = 0; i < checkboxLength; i++) {
            if (checkboxes[i].checked) return true;
        }

        return false;
    }

    function checkValidity() {
        const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
        firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
})();
</script>
{% endblock %}