{% extends "base.html" %}

{% block content %}

            <div class= "jumbotron">
                <h3 class="text-center">Select duration to extend reservation for {{ agent }}</h3>


    <form method="POST" action="">
        <main role="main" class="container-fluid">
        <div class="row text-center justify-content-center">
        <div class="col-12">
        <div class="caption">
            <h3 class="text-center">Select Duration</h3>
        </div>
        <div class="row">
        <select class="form-select form-select-lg mb-3 align=center" name="day" id="day">
            <option value="">Days</option>
            {% for d in days %}
                <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
        </select>
        <select required class="form-select form-select-lg mb-3 align=center" name="hour" id="hour">
            <option value="">Hours</option>
            {% for h in hours %}
                <option value="{{ h }}">{{ h }}</option>
            {% endfor %}
        </select>
        </div>
        <br>
        <br>
    <input class="btn btn-secondary" type="submit" value="Extend Reservation">
    </div></div></main>
    </form>
      </div>
{% endblock %}