{% extends "base.html" %}

{% block content %}
     <div class= "jumbotron">
         <h2 class="text-center">Reservation History</h2>
    </div>

        <table class="table table-bordered table-hover table-dark table-sm" >
        <thead align="center">
        <tr>
            <th class="text-center">  User  </th>
            <th class="text-center">  Agent  </th>
            <th class="text-center">  Environment  </th>
            <th class="text-center">  Duration  </th>
            <th class="text-center">  Reserved Time  </th>
        </tr>
        </thead>
        <tbody>
        {% for h in history %}
            <tr>
                <td class="text-center">{{h.user}}</td>
                <td class="text-center">{{h.agent}}</td>
                <td class="text-center">{{h.env}}</td>
                <td class="text-center">{{h.duration}}</td>
                <td class="text-center">{{h.reserved_time}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
<br><br>
{% endblock %}