{% extends "base.html" %}

{% block app_content %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    <div class= "jumbotron">


    <h2 class="text-center">Current Reservation Status</h2>

    <main role="main" class="container-fluid"><center>
    <div class="row text-center justify-content-center">
    <div class="col-12">
        {% if agents.count() > 0 %}
        <h3 class="text-center">Below are your assigned reservations</h3>
        <form id="reservation" method="post" action="">
        <table class="table table-bordered table-hover table-dark table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="text-center">Select Reservation</th>
                <th class="text-center">Agent</th>
                <th class="text-center">Platform</th>
                <th class="text-center">Environment</th>
                <th class="text-center">Duration<br>(hours)</th>
                <th class="text-center">Reserved time</th>
            </tr>
            </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td class="text-center"><input type="radio" name=options value="{{agent.a_name}}"/></td>
                <td class="text-center">{{agent.a_name}}</td>
                <td class="text-center">{{agent.a_platform}}</td>
                <td class="text-center">{{agent.a_env}}</td>
                <td class="text-center">{{agent.a_duration}}</td>
                <td class="text-center">{{ moment(time_dict[agent.a_name]).format('lll') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
            <br>
            <input class="btn btn-primary btn-sm" type="submit" name="action" id="release" value="Release Reservation">
            <input class="btn btn-primary btn-sm" type="submit" name="action" id="extend" value="Extend Reservation">
        </form>
        {% else %}
        <p><h3 align="center">No Current Active Reservation</h3></p><br>
        {% endif %}
        <br><br>
        {% if reservation.count() > 0 %}
        <h3 class="text-center">Below are your queued reservations</h3>
        <form id="queue_reserve" action="queue" method="POST">
        <table class="table table-bordered table-hover table-dark table-sm">
        <thead class="thead-dark">
        <tr>
            <th class="text-center">Select Reservation</th>
            <th class="text-center">Platform</th>
            <th class="text-center">Environment</th>
            <th class="text-center">Duration(hours)</th>
        </tr>
        </thead>
        <tbody>
        {% for r in reservation %}
            <tr>
                <td class="text-center"><input type="radio" name=q_options value="{{{r.platform:r.env}}}"/></td>
                <td class="text-center">{{r.platform}}</td>
                <td class="text-center">{{r.env}}</td>
                <td class="text-center">{{r.duration}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <br>
        <input class="btn btn-primary btn-sm" type="submit" name="action" id="queue" value="Cancel Queued Reservation">
        </form>
        {% endif %}
    </form>
    </div></div></center></main>
    </div>
    <main role="main" class="container-fluid">
    <div class="row justify-content-center">
     <div class="row text-center">
    <form action="reserve_device">
          <div class="col-sm-6 col-md-4 align=center">
            <div class="thumbnail">
              <div class="caption">
                <h3>Reserve Device </h3>
                <p>Select this option to reserve a Device </p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Reserve Device"></p>
              </div>
            </div>
          </div>
    </form>
<!--    <form action="job_schedule">-->
<!--          <div class="col-sm-6 col-md-4 align=center">-->
<!--            <div class="thumbnail">-->
<!--              <div class="caption">-->
<!--                <h3>Job Schedule</h3>-->
<!--                <p>Select this option to configure and run jenkins job</p>-->
<!--                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Schedule Jenkins Job"></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--    </form>-->
     <form action="device_inventory">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Inventory View</h3>
                <p>Select this option to view Inventory snapshot</p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Device Inventory View"></p>
              </div>
            </div>
          </div>
    </form>
     </div>
    <div class="row text-center">
    {% if (current_user.administrator == 'Admin') or (current_user.administrator == 'Super Admin') %}
    <form action="manage_agents">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Manage Reservation System</h3>
                <p>Select this option to Manage Reservation System</p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Manage Reservation"></p>
              </div>
            </div>
          </div>
    </form>
    {% endif %}
    {% if current_user.administrator == 'Super Admin' %}
    <form action="manage_user_access">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Manage User </h3>
                <p>Select this option to Manage User Access</p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Manage User"></p>
              </div>
            </div>
          </div>
    </form>
    <form action="manage_rig">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Manage Rig </h3>
                <p>Select this option to Manage Rigs </p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Manage Rigs"></p>
              </div>
            </div>
          </div>
    </form>
    {% endif %}
    </div>
    </div></main>
{% endblock %}

{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
<script>
(function() {
    const form = document.querySelector('#reservation');
    const checkboxes = form.querySelectorAll('input[type=radio]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
        if (firstCheckbox) {
            for (let i = 0; i < checkboxLength; i++) {
                checkboxes[i].addEventListener('change', checkValidity);
            }

            checkValidity();
        }
    }

    function isChecked() {
        for (let i = 0; i < checkboxLength; i++) {
            if (checkboxes[i].checked) return true;
        }

        return false;
    }

    function checkValidity() {
        const errorMessage = !isChecked() ? 'At least one radio button must be selected.' : '';
        firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
})();
</script>
{% endblock %}

