{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row">
        <div class="col-sm-3 col-md-4">
            <h4>Welcome to Device Reservation System</h4>
            <h4>Log in to your account</h4>
            {{ wtf.quick_form(form) }}
            <br>
        <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
        </p>
        </div>
        <div class="col-sm-3 offset-sm-2 col-md-4 offset-md-0">
            <img src="https://i.postimg.cc/KjCRJ1Bm/KDS.png">
        </div>
    </div>

{% endblock %}
