{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class= "jumbotron">
        <h2 class="text-center">Manage User Access</h2>
    </div>
    <p><a href="{{ url_for('main.manage_agents') }}">&laquo; Back</a></p>
    <form method="POST" action="">
    <main role="main" class="container-fluid">
        <div class="row text-center justify-content-center">
    <table class="table table-bordered table-hover table-dark table-sm">
        <thead class="thead-dark">
        <tr align="center">
            <th class="text-center">  Agent </th>
            <th class="text-center">  Status  </th>
        </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td class="text-center">{{agent.a_name}}</td>
                <td class="text-center"><select class="form-select form-select-lg mb-3 align=center" name={{agent.a_name}} id="{{agent.a_name}}">
                    <option selected>{{ agent.a_status }}</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <br>
        <input class="btn btn-primary btn-sm" type="submit" value="Submit">
            </div>
        </main>
    </form>
{% endblock %}