{% extends "base.html" %}

{% block app_content %}
     <div class= "jumbotron">
                <h3 class="text-center">Manage Reservation System</h3>
    </div>
    <div class="row text-center">
    <form action="add_agents">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Add Agent</h3>
                <p>Select this option to Add Agent to Inventory</p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Add Agent"></p>
              </div>
            </div>
          </div>
    </form>
    <form action="edit_agent">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Edit Agent</h3>
                <p>Select this option to Edit Agent </p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Edit Agent"></p>
              </div>
            </div>
          </div>
    </form>
    {% if (current_user.administrator == 'Super Admin') %}
    <form action="maintain_agent">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Maintain Agent</h3>
                <p>Select this option to Maintain Agent </p>
                  <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Maintain Agent"></p>
              </div>
            </div>
          </div>
    </form>
    {% endif %}
{% endblock %}
