{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class= "jumbotron">
        <h2 class="text-center">Manage User Access</h2>
    </div>
    <form method="POST" action="">
    <main role="main" class="container-fluid">
        <div class="row text-center justify-content-center">
    <table class="table table-bordered table-hover table-dark table-sm">
        <thead class="thead-dark">
        <tr align="center">
            <th class="text-center">  User  </th>
            <th class="text-center">  Access  </th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="text-center">{{user.username}}</td>
                <td class="text-center"><select class="form-select form-select-lg mb-3 align=center" name={{user.username}} id="{{user.username}}">
                    <option selected>{{ user.administrator }}</option>
                    <option value="General">General</option>
                    <option value="Admin">Admin</option>
                    <option value="Super Admin">Super Admin</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <br>
        <input class="btn btn-secondary btn-sm" type="submit" value="Submit">
            </div>
        </main>
    </form>
{% endblock %}

