{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Reset Your Password</h2>
    <div class="row">
        <div class="col-sm-3 col-md-4">
            <form action="" method="POST">
                {{ form.csrf_token() }}
            {{ form.hidden_tag() }}
            <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <input class="btn btn-primary" type="submit" value="Request Password Reset">
        </form>
        </div>
        <div class="col-sm-3 offset-sm-2 col-md-4 offset-md-0">
            <img src="https://i.postimg.cc/KjCRJ1Bm/KDS.png">
        </div>
    </div>
{% endblock %}
