{% extends "base.html" %}

{% block content %}
    <nav class="welcome">
        <table>
            <tr valign="top">
                <td><img src="{{ user.avatar(32) }}"></td>
                <td>
                    <h1> Hello {{ user.username }} </h1>

                    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

                </td>
            </tr>
        </table>
        {% if agents %}
        <h2>Below are your reservations</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Select Agent</th>
                <th>Agent</th>
                <th>Platform</th>
                <th>Environment</th>
                <th>Duration(hours)</th>
                <th>Reserved time</th>
            </tr>
            </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td></td>
                <td>{{agent.a_name}}</td>
                <td>{{agent.a_platform}}</td>
                <td>{{agent.a_env}}</td>
                <td>{{agent.a_duration}}</td>
                <td>{{agent.a_last_reserved}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% if reservation %}
        <h2>Below are your queued reservations</h2>

        <table border="1" >
        <thead>
        <tr>
            <th>Platform</th>
            <th>Environment</th>
            <th>Duration(hours)</th>
        </tr>
        </thead>
        <tbody>
        {% for r in reservation %}
            <tr>
                <td>{{r.platform}}</td>
                <td>{{r.env}}</td>
                <td>{{r.duration}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
        <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
    </nav>
{% endblock %}